@font-face {
    font-family: 'montserrat-medium';
    src: url('../fonts/montserrat_medium.ttf');
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat_bold.ttf');
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/montserrat.ttf');
}

@font-face {
    font-family: 'montserrat-semibold';
    src: url('../fonts/montserrat_semibold.ttf');
}

@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/opensans_regular.ttf');
}

@media (width > 320px) {
    h3 {
        margin-block-start: 0em;
        margin-block-end: 0em;
        font-family: 'montserrat-bold';
        font-size: 24px;
        margin-bottom: 16px;
    }
}

@media (width >= 320px) and (width < 768px) {
    main {
        grid-template-areas: 'main' 'bottom' 'aside';
    }
}

@media (width > 414px) and (width < 1024px) {
        .logo-care {
        background-image: url(../../logos/logo_care.svg);
        width: 100%;
        height: 100%;
        border-radius: 16px;
        }
}

@media (width > 414px) {
    h1 {
        font-family: 'montserrat-bold';
        font-size: 48px;
        line-height: 56px;
        margin-block-start: 0em;
        margin-block-end: 16px;
    }

    .background-color-bulb > img {
        left: 225.5px;
        width: 240px;
        height: 168px;
    }

    .background-color-bulb {
        padding: 24px 104px 48px 102px;
    }

    .smiling-lady {
        background-image: url(../../images/smiling_lady.png);
        width: 100%;
        height: 100%;
    }

    .second-gift {
        background-image: url(../../logos/second_gift.svg);
        z-index: 0;
    }
}

@media (width > 768px) {
    main {
        display: grid;
        grid-template-areas: 'main aside' 'bottom bottom' 'gradient gradient';
    }

    .border + div > ul > li {
        font-family: 'montserrat-regular';
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
    }

    .main-text {
        row-gap: 24px;
    }

    .main-two-columns + div {
        max-height: 32px;
        margin-left: 256.13px;
    }

    .header-navigation > a:first-child + a {
        width: 43px;
    }

    .header-navigation > a:first-child + a + a {
        width: 60px;
    }

    .header-navigation > a:first-child + a + a + a {
        width: 97px;
    }

    .header-navigation > a:first-child + a + a + a + a {
        width: 92px;
    }

    .arrow-down {
        width: 109px;
    }

    .this-hands-img {
        display: grid;
        grid-template-columns: 281px 386px;
        grid-template-rows: 174px;
        gap: 24px;
    }

    aside {
        grid-template-columns: 100%;
    }
}

@media (width > 1024px) {
    body {
        width: 1440px;
        grid-template-rows: 76px 88px 5543px 302px;
    }

    main {
        grid-template-columns: 690px 282px;
        grid-template-rows: 5033px 428px 82px;
        column-gap: 228px;
        margin-left: 120px;
    }

    .this-underline > ul > li:last-child {
        margin-top: 14px;
    }

    .background-color-bulb + p + div {
        display: grid;
        grid-template-columns: 282px 385px;
        grid-template-rows: 380px;
        gap: 24px;
    }

    .main-bottom > div > h1 {
        margin-top: 72px;
    }

    #help-choose-spesialist {
        margin-top: 32px;
        width: 238px;
    }

    .arrow-down + a {
        margin-right: 256px;
    }

    .background-color-FEFAEC + div > ul {
        width: 572px;
        margin-left: 32px;
    }

    aside {
        display: grid;
        grid-template-rows: 512px 481px 292px 304px;
        row-gap: 24px;
    }

    aside > .background-color-E6F0FD {
        padding: 24px 12.5px;
    }

    aside > .background-color-E6F0FD > img + p {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 12.5px;
        margin-right: 12.5px;
        margin-top: 10px;
        font-size: 14px;
    }

    aside > .background-color-E6F0FD > p + p {
        font-size: 12px;
    }

    #more-info-top {
        height: 48px;
        width: 234px;
    }

    aside > .card {
        position: relative;
        padding: 24px 16px 36px 16px;
    }

    .card > div:first-child + div > img {
        width: 120px;
        height: 120px;
    }

    .border + div {
        text-wrap: nowrap;
    }

    .card > div:first-child + div + div > p {
        font-size: 16px;
        line-height: 24px;
    }

    .card > div:first-child + div + div > p {
        font-size: 16px;
        line-height: 24px;
    }
    

    #more-info-middle {
        margin-top: 16px;
        width: 250px;
        height: 48px;
    }

    .card + img + div {
        padding: 32px;
    }

    .logo-care {
        background-image: url(../../images/logo_care_1440.png);
    }

    aside > div:last-child > p:first-child {
        height: 32px;
    }

    aside > div:last-child > p:first-child + p {
        height: 80px;
    }

    #help-choose-specialist {
        width: 238px;
        height: 60px;
        margin-top: 32px;
    }

    .first-gift {
        bottom: 0px;
        right: 10px;
    }

    .second-gift {
        height: 121px;
        width: 137px;
        background-repeat: no-repeat;
        bottom: -49px;
        right: -48px;
    }
}

/* iPad Pro 12.9" - 3 */
@media (width <=1024px) and (width > 768px) {
    body {
        width: 1024px;
        grid-template-rows: 76px 88px 4910px 302px;
    }

    main {
        grid-template-columns: 714px 222px;
        column-gap: 24px;
        margin-left: 32px;
    }

    .header-navigation > .new-element {
        display: block;
    }

    .hide-element {
        display: none !important;
        width: 0px;
        height: 0px;
    }

    .main-text {
        max-height: 4286px;
        row-gap: 24px;
    }

    .main-text > img:first-of-type {
        height: 331px;
    }

    .background-color-bulb + p + div {
        display: grid;
        grid-template-columns: 282px 385px;
        grid-template-rows: 380px;
        gap: 24px;
    }

    aside {
        display: grid;
        grid-template-rows: 447px 489px 292px 260px;
        row-gap: 24px;
    }

    aside > .background-color-E6F0FD {
        padding: 24px;
    }

    aside > .card {
        position: relative;
        padding: 24px 24px 17px 24px;
    }

    .card > div:first-child > p {
        background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    }

    .card > div:first-child + div > img {
        width: 120px;
        height: 120px;
    }

    .card > div:first-child + div + div > p {
        font-size: 16px;
        line-height: 20px;
    }

    #more-info-middle {
        width: 174px;
        height: 48px;
    }

    .logo-care {
        background-image: url(../../images/logo_care_1024.png);
        width: 100%;
        height: 100%;
        border-radius: 16px;
    }

    .card + img + div {
        padding: 24px;
    }

    aside > div:last-child > p:first-child {
        height: 32px;
    }

    aside > div:last-child > p:first-child + p {
        height: 100px;
    }

    .first-gift {
        bottom: 0px;
        right: 10px;
    }

    .second-gift {
        height: 121px;
        width: 137px;
        background-repeat: no-repeat;
        bottom: -48px;
        right: -48px;
    }
}

/* iPad mini - 4 */
@media (width <= 768px) and (width > 414px) {
    body {
        width: 768px;
        grid-template-rows: 76px 88px 5452px 454px;
    }

    main {
        grid-template-columns: 728px;
        margin-left: 20px;
    }

    .hide-header {
        display: none;
    }

    .hide-element {
        display: none !important;
        width: 0px;
        height: 0px;
    }

    .breadcrumb {
        margin-top: 16px;
    }

    .main-text {
        row-gap: 24px;
        width: 728px;
    }

    .main-text > div > div > .new-element {
        display: block;
    }

    .main-text > div:first-child > div::after {
        content: "Self";
        display: inline-block;
        width: min-content;
        height: auto;
        color: rgba(41, 99, 163, 1);
        align-self: center;
        font-family: 'montserrat-medium';
        font-size: 16px;
        line-height: 24px;
    }

    .main-text > div > div {
        column-gap: 8px;
    }

    .main-text > img:first-of-type {
        height: 331px;
    }

    .this-underline > ul {
        font-family: 'montserrat-medium';
        font-size: 16px;
        line-height: 24px;
    }

    .this-underline > ul > li:first-child {
        margin-bottom: 8px;
    }

    .background-color-F3F7FE + div > ul {
        margin-left: 20px;
    }

    .background-color-bulb > p {
        width: 485px;
    }

    .background-color-bulb + p + div {
        display: grid;
        grid-template-columns: 282px 385px;
        grid-template-rows: 380px;
        gap: 24px;
    }

    .background-color-FEFAEC + div > ul {
        margin-left: 20px;
        font-family: 'montserrat-medium';
        font-size: 16px;
        line-height: 24px;
    }

    .background-color-FEFAEC + div > ul > li:first-child {
        margin-bottom: 16px;
    }

    .this-hands-img > img {
        height: 182px;
        width: 294px;
    }

    .this-hands-img {
        display: grid;
        grid-template-columns: auto auto;
        gap: 16px;
    }

    .background-color-FFF3EB > h4 {
        margin-bottom: 8px;
    }

    .main-two-columns + div {
        text-align: center;
    }

    aside {
        display: grid;
        grid-template-columns: repeat(2, 356px);
        grid-template-rows: 481px 242px;
        column-gap: 16px;
        row-gap: 36px;
        margin-top: 23px;
    }

    aside > .background-color-E6F0FD {
        padding: 22.55px 23px 14.45px 23px;
    }

    .background-color-E6F0FD > img {
        width: 257px;
        height: 206px;
    }

    .background-color-E6F0FD > img + P {
        margin-top: 24px;
        font-family: 'montserrat-bold';
        font-size: 18px;
        width: 290px;
    }

    #more-info-top {
        margin-top: 24px;
        width: 310px;
        height: 48px;
    }

    aside > .card {
        position: relative;
        padding: 24px 24px 17px 24px;
    }

    .card > div:first-child > p {
        background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    }

    .card > div:first-child + div > img {
        width: 120px;
        height: 120px;
        margin-bottom: 16px;
    }

    .card > div:first-child + div + div {
        margin-top: 4px;
    }

    .card > div:first-child + div + div > p {
        font-size: 16px;
        line-height: 20px;
    }

    .card > div:first-child + div + div > .point {
        line-height: 80%;
    }

    .card > #more-info-middle {
        align-self: center;
    }

    .border + div > ul > li {
        font-family: 'montserrat-regular';
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
    }

    #more-info-middle {
        margin-top: 12px;
        width: 250px;
        height: 48px;
    }

    .card + img + div {
        padding: 32px;
    }

    aside > div:last-child {
        padding: 24px 42.93px 4px 21.47px;
    }

    aside > img {
        width: 356px;
    }

    .first-gift {
        bottom: 0px;
        right: 10px;
    }

    .second-gift {
        height: 121px;
        width: 137px;
        background-repeat: no-repeat;
        bottom: -48px;
        right: -48px;
    }
}

/* iPhone 11 Pro Max - 4 */
@media (width <= 414px) and (width > 320px) {
    body {
        width: 414px;
        grid-template-rows: 72px 66px 8397px 746px;
    }

    main {
        margin-left: 20px;
    }

    h1 {
        font-family: 'montserrat-bold';
        font-size: 32px;
        line-height: 40px;
        margin-block-start: 0em;
        margin-block-end: 16px;
    }

    .hide-header {
        display: none;
    }

    .hide-element {
        display: none !important;
        width: 0px;
        height: 0px;
    }

    .breadcrumb {
        width: 374px;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-top: 16px;
    }

    .main-text {
        width: 374px;
        row-gap: 24px;
    }

    .main-text > div > div > .new-element {
        display: block;
    }

    .main-text > div:first-child > div::after {
        content: "Self";
        display: inline-block;
        width: min-content;
        height: auto;
        color: rgba(41, 99, 163, 1);
        align-self: center;
        font-family: 'montserrat-medium';
        font-size: 16px;
        line-height: 24px;
    }

    .main-text > div > div {
        column-gap: 8px;
    }

    .main-text > img:first-of-type {
        height: 207px;
    }

    .this-underline > ul {
        font-family: 'montserrat-medium';
        font-size: 16px;
        line-height: 24px;
    }

    .this-underline > ul > li:first-child {
        margin-bottom: 8px;
    }

    .background-color-F3F7FE + div > ul {
        margin-left: 20px;
    }

    .background-color-bulb > p {
        width: 374px;
    }

    .main-text > .background-color-bulb > img {
        top: 0px;
        left: 66.5px;
    }

    .background-color-bulb + p + div {
        gap: 16px;
    }

    .smiling-lady {
        background-image: url(../../images/smiling_lady_small.png);
        width: 100%;
        height: 380px;
    }

    .background-color-FEFAEC + div > ul {
        margin-left: 20px;
        font-family: 'montserrat-medium';
        font-size: 16px;
        line-height: 24px;
    }

    .background-color-FEFAEC + div > ul > li:first-child {
        margin-bottom: 16px;
    }

    .this-hands-img > img {
        height: 207px;
        width: 100%;
    }

    .main-text > .this-hands-img {
        display: grid;
        gap: 16px;
    }

    .background-color-FFF3EB > h4 {
        margin-bottom: 8px;
    }

    .main-text > .main-two-columns {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, min-content);
    }

    .main-text > .main-two-columns > div > img{
        width: 100%;
        height: 235px;
    }

    .main-two-columns + div > img {
        margin-left: 98px;
    }

    aside {
        display: grid;
        grid-template-columns: 374px;
        grid-template-rows: 512px 481px 292px 248px;
        column-gap: 16px;
        row-gap: 36px;
    }

    aside > .background-color-E6F0FD {
        margin-top: 56px;
        padding: 22.55px 23px 14.45px 23px;
    }

    .background-color-E6F0FD > img {
        width: 257px;
        height: 206px;
    }

    .background-color-E6F0FD > img + P {
        margin-top: 24px;
        font-family: 'montserrat-bold';
        font-size: 18px;
        width: 290px;
    }

    #more-info-top {
        width: 310px;
        height: 48px;
    }

    aside > .card {
        position: relative;
        padding: 24px 24px 17px 24px;
    }

    .card > div:first-child > p {
        background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    }

    .card > div:first-child + div > img {
        width: 120px;
        height: 120px;
        margin-bottom: 16px;
    }

    .card > div:first-child + div + div {
        margin-top: 4px;
    }

    .card > div:first-child + div + div > p {
        font-size: 16px;
        line-height: 20px;
    }

    .card > div:first-child + div + div > .point {
        line-height: 80%;
    }

    .border + div > ul > li {
        font-family: 'montserrat-regular';
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
    }

    #more-info-middle {
        margin-top: 12px;
        width: 250px;
        height: 48px;
    }

    .logo-care {
        background-image: url(../../logos/logo_care_small.svg);
    }

    .card + img + div {
        padding: 32px;
    }

    .card > #more-info-middle {
        margin-top: 16px;
        align-self: center;
    }

    aside > div:last-child {
        padding: 24px 42.93px 4px 21.47px;
    }

    .first-gift {
        right: 64px;
        bottom: 0px;
    }

    .second-gift {
        background-image: url(../../logos/second_gift_small.svg);
        width: 137px;
        height: 121px;
        background-repeat: no-repeat;
        bottom: -50px;
        right: 5px;
    }
}

/* iPhone SE - 3 */
@media (width <= 320px) {
    body {
        width: 320px;
        grid-template-rows: 56px 66px auto 746px;
    }

    main {
        width: 288px;
        margin-left: 16px;
    }

    h1 {
        font-family: 'montserrat-bold';
        font-size: 24px;
        line-height: 32px;
        margin-block-start: 0em;
        margin-block-end: 0px;
    }

    h3 {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 8px;
    }

    .main-text > .this-underline > h4, .main-text > div > h3 {
        margin-bottom: 8px;
    }

    .main-text > div:first-child > div {
        flex-wrap: nowrap;
        column-gap: 8px;
    }

    .main-text > div:first-child > div > p {
        text-wrap: nowrap;
        font-size: 14px;
    }

    .hide-header {
        display: none;
    }

    .hide-element {
        display: none !important;
        width: 0px;
        height: 0px;
    }

    .breadcrumb {
        width: 374px;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-top: 16px;
    }

    .main-text {
        row-gap: 16px;
    }

    .main-text > div > div > .new-element {
        display: block;
    }

    .main-text > div:first-child > div::after {
        content: "Self";
        display: inline-block;
        width: min-content;
        height: auto;
        color: rgba(41, 99, 163, 1);
        align-self: center;
        font-family: 'montserrat-medium';
        font-size: 16px;
        line-height: 24px;
    }

    .main-text > div > div {
        column-gap: 8px;
    }

    .main-text > img:first-of-type {
        height: 160px;
    }

    .this-underline > ul {
        font-family: 'montserrat-medium';
        font-size: 16px;
        line-height: 24px;
    }

    .this-underline > ul > li:first-child {
        margin-bottom: 8px;
    }

    .this-underline + div > h3 + p {
        margin-bottom: 8px;
    }

    .background-color-F3F7FE + div > ul {
        margin-left: 20px;
    }

    .main-text > .background-color-bulb > img {
        top: 0px;
        left: 23.5px;
    }

    .background-color-bulb + p + div {
        gap: 16px;
    }

    .smiling-lady {
        background-image: url(../../images/smiling_lady_very_small.png);
        width: 100%;
        height: 380px;
    }

    .background-color-FEFAEC + div > ul {
        margin-left: 20px;
        font-family: 'montserrat-medium';
        font-size: 16px;
        line-height: 24px;
    }

    .background-color-FEFAEC + div > ul > li:first-child {
        margin-bottom: 16px;
    }

    .this-hands-img > img {
        height: 160px;
        width: 100%;
    }

    .main-text > .this-hands-img {
        display: grid;
        gap: 16px;
    }

    .background-color-FFF3EB > h4 {
        margin-bottom: 8px;
    }

    .main-text > .main-two-columns {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, min-content);
    }

    .main-text > .main-two-columns > div > img{
        width: 100%;
        height: 235px;
    }

    .main-two-columns + div > img {
        margin-left: 55px;
    }

    aside {
        display: grid;
        grid-template-columns: 288px;
        grid-template-rows: 512px 481px 292px 252px;
        row-gap: 24px;
    }

    aside > .background-color-E6F0FD {
        margin-top: 16px;
        padding: 24px 24px 24px 25px;
    }

    .background-color-E6F0FD > img {
        width: 257px;
        height: 206px;
    }

    .background-color-E6F0FD > img + P {
        margin-top: 24px;
        font-family: 'montserrat-bold';
        font-size: 18px;
    }

    #more-info-top {
        margin-top: 24px;
        width: 239px;
        height: 48px;
    }

    aside > .card {
        position: relative;
        padding: 24px 19px 36px 19px;
    }

    .card > div:first-child > p {
        background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    }

    .card > div:first-child + div > img {
        width: 120px;
        height: 120px;
        margin-bottom: 16px;
    }

    .card > div:first-child + div + div {
        margin-top: 4px;
    }

    .card > div:first-child + div + div > p {
        font-size: 16px;
        line-height: 20px;
    }

    .card > div:first-child + div + div > .point {
        line-height: 80%;
    }

    .border + div > ul > li {
        font-family: 'montserrat-regular';
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
    }

    #more-info-middle {
        margin-top: 12px;
        width: 250px;
        height: 48px;
    }

    .logo-care {
        background-image: url(../../logos/logo_care_320.svg);
    }

    aside > div:last-child {
        padding: 24px 42.93px 4px 21.47px;
        height: 222px;
    }

    .first-gift {
        right: 36px;
        bottom: 0px;
    }

    .second-gift {
        background-image: url(../../logos/second_gift_320.svg);
        width: 105px;
        height: 94px;
        bottom: -39px;
        right: 0px;
        background-repeat: no-repeat;
        z-index: 1;
    }

    aside > img {
        width: 356px;
    }
}

header {
    width: inherit;
}

body {
    display: grid;
    margin: 0px;
}

nav {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: inherit;
}

main {
    position: relative;
}

aside {
    grid-area: aside;
}

h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: 'montserrat-bold';
    margin-bottom: 16px;
}

h3 + p {
    font-family: 'montserrat-medium';
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

aside > img {
    width: 100%;
}

h4 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: 'montserrat-bold';
    font-size: 16px;
    line-height: 24px;
}

p {
    font-family: 'montserrat-medium';
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 16px;
    line-height: 24px;
}

footer {
    margin-bottom: 0px;
}

button {
    font-size: 1rem;
}

li {
    margin-bottom: 8px;
    font-family: 'montserrat-medium';
    font-size: 16px;
    line-height: 24px;
}

ul > li:last-child {
    margin-bottom: 0px;
}

.new-element {
    display: none;
}

.main-text {
    display: flex;
    flex-direction: column;
    grid-area: main;
}

.main-text > div:first-of-type > div {
    display: flex;
    flex-direction: row;
}

.main-text > h1 + div > p {
    margin-right: 8px;
}

.point {
    line-height: 1em;
}

.main-text > img:first-of-type {
    width: 100%;
}

.this-underline > h4 {
    margin-bottom: 16px;
}

ul > ul {
    list-style-type: none;
}

.this-underline > ul {
    margin-left: 32px;
}

.this-underline > ul > li {
    text-decoration: underline;
}

.this-underline > ul > ul > li {
    text-decoration: underline;
    margin-left: 24px;
}

.this-underline > ul > ul > li + li {
    text-decoration: underline;
    margin-left: 40px;
}

.this-underline > ul > ul > li:last-child {
    text-decoration: underline;
    margin-left: 56px;
}

.this-underline > ul > li:last-child {
    margin-bottom: 0px;
}

div > ul > li::marker {
    color: #03B2A5;
}

.background-color-F3F7FE {
    position: relative;
    padding: 24px;
    background-color: rgba(243, 247, 254, 1);
}

.background-color-F3F7FE > p::before {
    display: block;
    position: absolute;
    content: "";
    background-image: url(../../logos/comas.svg);
    opacity: 0.6;
    width: 55.78px;
    height: 36px;
    left: 24px;
    top: 24px;
}

.background-color-F3F7FE > p:first-child {
    font-family: 'montserrat-italic';
    margin-bottom: 8px;
}

.background-color-F3F7FE > p:last-child {
    font-family: 'montserrat-bold';
    font-size: 16px;
    line-height: 24px;
}

.background-color-F3F7FE + div > ul > li {
    font-family: 'montserrat-medium';
    font-size: 16px;
    line-height: 24px;
}

.background-color-F3F7FE + div + div > img {
    width: 100%;
    margin-bottom: 16px;
}

.background-color-F3F7FE + div + div > img + p {
    color: rgba(134, 134, 134, 1);
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.25px;
}

.background-color-bulb {
    position: relative;
}

.background-color-bulb > img {
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0px;
}

.background-color-bulb > p {
    font-family: 'montserrat-italic';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.background-color-bulb + p + div {
    display: grid;
}

.background-color-FEFAEC {
    background-color: #FEFAEC;
    border-radius: 16px;
    padding: 24px;
}

.background-color-FEFAEC > h4 {
    margin-bottom: 8px;
}

.background-color-FEFAEC + h3 + ul {
    width: 572px;
}

.background-color-FFF3EB {
    background-color: #FFF3EB;
    border-radius: 16px;
    padding: 24px;
}

.main-two-columns {
    display: grid;
    grid-template-columns: repeat(2, 333px);
    grid-template-rows: 451px;
    gap: 24px;
}

.background-color-03B2A5 {
    background-color: rgba(3, 178, 165, 0.1);
    border-radius: 16px;
    padding: 24px;
}

.background-color-03B2A5 > h4 {
    margin-bottom: 8px;
}

.background-color-03B2A5 + nav {
    display: flex;
    flex-direction: row;
    color: rgba(41, 99, 163, 1);
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.background-color-03B2A5 + nav > a {
    margin-right: 8px;
    text-wrap: nowrap;
}

.background-color-03B2A5 + nav > p {
    margin-right: 8px;
}

.main-bottom {
    grid-area: bottom;
    position: relative;
    display: grid;
    grid-template-columns: 349px 520px;
    column-gap: 302px;
    width: 1200px;
    border-top: 1px solid rgba(222, 222, 222, 1);
}

.main-bottom > div > h1 {
    font-family: 'montserrat-bold';
    font-size: 48px;
    line-height: 56px;
}

.standard-button {
    padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;
    background-color: rgba(22, 200, 187, 1);
    border-radius: 4px;
    width: 100%;
    color: rgba(255, 255, 255, 1);
}

.main-bottom > div + img {
    width: 439px;
    height: 397px;
    margin-top: 7px;
    margin-right: 189px;
}

.main-bottom > div + img + img {
    position: absolute;
    right: -120px;
    top: 72px;
}

.background-gradient {
    position: absolute;
    left: -120px;
    bottom: 0px;
    grid-area: gradient;
    background-color: rgba(239, 245, 251, 1);
    width: 1440px;
    height: 82px;
    border-radius: 220% / 5% 40px 0 0;
    /* 220% означает сильное горизонтальное растяжение кривой,
       5% управляет вертикальным растяжением верхней стороны,
       40px применяет закругление только к верхним углам. */
}

aside > .background-color-E6F0FD {
    display: grid;
    align-items: center;
    background-color: #E6F0FD;
    border-radius: 16px;
}

.background-color-E6F0FD > img {
    width: 100%;
}

.background-color-E6F0FD > p {
    font-family: 'montserrat-bold';
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.background-color-E6F0FD > p + p {
    font-family: 'montserrat-regular';
    font-size: 14px;
    line-height: 20px;
}

aside > .card {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid rgba(222, 222, 222, 1);
    border-radius: 16px;
    align-items: center;
}

.card > div:first-child {
    position: absolute;
    z-index: 0;
    top: 16px;
    left: 16px;
    width: 105px;
}

.card > div:first-child > p {
    z-index: -1;
    background-color: rgba(243, 244, 248, 0.7);
    margin-bottom: 8px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    padding-left: 6px;
    padding-top: 3px;
}

.card > div:first-child + div {
    display: grid;
    justify-content: center;
    text-align: center;
}

.card > div:first-child + div > img {
    border: 1px solid rgb(46, 191, 128);
    border-radius: 50%;
}

.card > div:first-child + div > p {
    font-family: 'montserrat-bold';
}

.card > div:first-child + div > p + p {
    font-family: 'montserrat-semibold';
}

.card > div:first-child + div + div {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    font-family: 'montserrat-medium';
    font-size: 14px;
    color: rgba(162, 167, 177, 1);
}

.card > div:first-child + div + div > p {
    margin-right: 8px;
    margin-bottom: 16px;
}

.border {
    width: 250px;
    height: 1px;
    background-color: rgba(222, 222, 222, 0.7);
    margin-bottom: 16px;
}

.border + div > p {
    font-family: 'montserrat-bold';
    margin-bottom: 8px;
}

.border + div > ul > li {
    margin-left: 24px;
}

aside > img {
    height: 100%;
}

aside > div:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    position: relative;
    border-radius: 24px;
    border: 0.1px solid rgba(52, 201, 138, 1);ss
    padding: 32px;
    overflow: hidden;
}

aside > div:last-child > p:first-child > span {
    color: rgba(41, 99, 163, 1);
    font-family: 'montserrat-bold';
    font-size: 24px;
    line-height: 32px;
}

aside > div:last-child > p:first-child {
    color: rgba(41, 99, 163, 1);
    font-family: 'montserrat-bold';
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 8px;
    text-wrap: nowrap;
}

aside > div:last-child > p:first-child + p {
    font-family: 'opensans_regular';
    font-size: 14px;
    line-height: 20px;
}

aside > div:last-child > p:first-child + p + p {
    font-family: 'montserrat-bold';
    font-size: 24px;
    line-height: 32px;
}

aside > div:last-child > img {
    position: absolute;
}

.logo-care {
    background-repeat: no-repeat;
}

#more-info-top {
    align-self: end;
    justify-self: center;
}

#more-info-middle {
    align-self: end;
    justify-self: center;
}

#but-button {
    height: 48px;
    width: 108px;
}