@font-face {
    font-family: 'montserrat-medium';
    src: url('../fonts/montserrat_medium.ttf');
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat_bold.ttf');
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/montserrat.ttf');
}

@font-face {
    font-family: 'montserrat-semibold';
    src: url('../fonts/montserrat_semibold.ttf');
}

@media (width > 768px) {
    .border + div > ul > li {
        font-family: 'montserrat-regular';
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
    }

    .main-text {
        row-gap: 24px;
    }

    .main-two-columns + div {
        max-height: 32px;
        margin-left: 256.13px;
    }

    .header-navigation > a:first-child + a {
        width: 43px;
    }

    .header-navigation > a:first-child + a + a {
        width: 60px;
    }

    .header-navigation > a:first-child + a + a + a {
        width: 97px;
    }

    .header-navigation > a:first-child + a + a + a + a {
        width: 92px;
    }

    .arrow-down {
        width: 109px;
    }
}

@media (width > 1024px) {
    body {
        width: 1440px;
        grid-template-rows: 76px 88px 5543px 302px;
    }

    main {
        grid-template-columns: 690px 282px;
        grid-template-rows: 5033px 428px 82px;
        column-gap: 228px;
        margin-left: 120px;
    }

    .background-color-bulb + p + div {
        display: grid;
        grid-template-columns: 282px 385px;
        grid-template-rows: 380px;
        gap: 24px;
    }

    .main-bottom > div > h1 {
        margin-top: 72px;
    }

    #help-choose-spesialist {
        margin-top: 32px;
        width: 238px;
    }

    .arrow-down + a {
        margin-right: 256px;
    }

    aside {
        display: grid;
        grid-template-rows: 512px 481px 292px 304px;
        row-gap: 24px;
    }

    aside > .background-color-E6F0FD {
        padding: 24px 12.5px;
    }

    aside > .background-color-E6F0FD > img + p {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 12.5px;
        margin-right: 12.5px;
        margin-top: 10px;
        font-size: 14px;
    }

    aside > .background-color-E6F0FD > p + p {
        font-size: 12px;
    }

    #more-info-top {
        margin-left: 12.5px;
        height: 48px;
        width: 234px;
    }

    aside > .card {
        position: relative;
        padding: 24px 16px 36px 16px;
    }

    .card > div:first-child + div > img {
        width: 120px;
        height: 120px;
        margin-left: 65px;
    }

    .border + div {
        text-wrap: nowrap;
    }

    .card > div:first-child + div + div > p {
        font-size: 16px;
        line-height: 24px;
    }

    #more-info-middle {
        margin-top: 16px;
        width: 250px;
        height: 48px;
    }

    .card + img + div {
        padding: 32px;
    }

    aside > div:last-child > p:first-child {
        height: 32px;
    }

    aside > div:last-child > p:first-child + p {
        height: 80px;
    }
}

/* iPad Pro 12.9" - 3 */
@media (width <= 1024px) {
    body {
        width: 1024px;
        grid-template-rows: 76px 88px 4910px 302px;
    }

    main {
        grid-template-columns: 714px 222px;
        column-gap: 24px;
        margin-left: 32px;
    }

    .new-element {
        display: block;
    }

    .hide-element {
        display: none !important;
        width: 0px;
        height: 0px;
    }

    .main-text {
        grid-template-rows: repeat(21, minmax(auto, 1fr));
        max-height: 4286px;
        row-gap: 24px;
    }

    .main-text > img:first-of-type {
        height: 331px;
    }

    .background-color-bulb + p + div {
        display: grid;
        grid-template-columns: 282px 385px;
        grid-template-rows: 380px;
        gap: 24px;

    }

    aside {
        display: grid;
        grid-template-rows: 447px 489px 292px 260px;
        row-gap: 24px;
    }

    aside > .background-color-E6F0FD {
        padding: 24px;
    }

    aside > .card {
        position: relative;
        padding: 24px 24px 17px 24px;
    }

    .card > div:first-child > p {
        background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    }

    .card > div:first-child + div > img {
        width: 120px;
        height: 120px;
        margin-left: 27px;
    }

    .card > div:first-child + div + div > p {
        font-size: 16px;
        line-height: 20px;
    }

    #more-info-middle {
        margin-top: 8px;
        width: 250px;
        height: 48px;
    }

    .card + img + div {
        padding: 32px;
    }

    aside > div:last-child > p:first-child {
        height: 32px;
    }

    aside > div:last-child > p:first-child + p {
        height: 80px;
    }
}

header {
    width: inherit;
}

body {
    display: grid;
    margin: 0px;
}

main {
    display: grid;
    position: relative;
    grid-template-areas: 'main aside' 'bottom bottom' 'gradient gradient';
    width: inherit;
}

aside {
    grid-area: aside;
}

h1 {
    font-family: 'montserrat-bold';
    font-size: 48px;
    line-height: 56px;
    margin-block-start: 0em;
    margin-block-end: 16px;
}

h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: 'montserrat-bold';
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

h3 + p {
    font-family: 'montserrat-medium';
    font-size: 16px;
    line-height: 24px;
}

h4 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: 'montserrat-bold';
    font-size: 16px;
    line-height: 24px;
}

p {
    font-family: 'montserrat-medium';
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 16px;
    line-height: 24px;
}

footer {
    margin-bottom: 0px;
}

.main-text {
    display: flex;
    flex-direction: column;
    grid-area: main;
}

.main-text > div:first-of-type > div {
    display: flex;
    flex-direction: row;
}

.main-text > h1 + div > p {
    margin-right: 8px;
}

.point {
    line-height: 1em;
}

.main-text > img:first-of-type {
    width: 100%;
}

.this-underline > h4 {
    margin-bottom: 16px;
}

ul > ul {
    list-style-type: none;
}

.this-underline > ul {
    list-style-type: disc;
    margin-left: 32px;
}

.this-underline > ul > li {
    text-decoration: underline;
}

.this-underline > ul > ul > li {
    text-decoration: underline;
    margin-left: 24px;
}

.this-underline > ul > ul > li + li {
    text-decoration: underline;
    margin-left: 40px;
}

.this-underline > ul > ul > li:last-child {
    text-decoration: underline;
    margin-left: 56px;
}

div > ul > li::marker {
    color: #03B2A5;
}

.background-color-F3F7FE {
    position: relative;
    padding: 24px;
    background-color: rgba(243, 247, 254, 1);
}

.background-color-F3F7FE > p::before {
    display: block;
    position: absolute;
    content: "";
    background-image: url(../../logos/comas.svg);
    opacity: 0.6;
    width: 55.78px;
    height: 36px;
    left: 24px;
    top: 24px;
}

.background-color-F3F7FE > p:first-child {
    font-family: 'montserrat-italic';
    margin-bottom: 8px;
}

.background-color-F3F7FE > p:last-child {
    font-family: 'montserrat-bold';
    font-size: 16px;
    line-height: 24px;
}

.background-color-F3F7FE + div > ul > li {
    font-family: 'montserrat-medium';
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.background-color-F3F7FE + div > ul + img {
    margin-top: 8px;
    width: 100%;
    margin-bottom: 16px;
}

.background-color-F3F7FE + div > ul + img + p {
    color: rgba(134, 134, 134, 1);
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.25px;
}

.background-color-F3F7FE + div > ul + img + p + p {
    font-family: 'montserrat-medium';
    font-size: 16px;
    line-height: 24px;
}

.background-color-bulb {
    position: relative;
    padding: 24px 104px 48px 102px;
}

.background-color-bulb > img {
    position: absolute;
    z-index: -1;
    left: 225.5px;
    top: 0px;
    bottom: 0px;
    width: 240px;
    height: 168px;
}

.background-color-bulb > p {
    font-family: 'montserrat-italic';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 72px;
}

.background-color-bulb + p {
    font-family: 'montserrat-medium';
    font-size: 16px;
    line-height: 24px;
}

.background-color-bulb + p + div {
    display: grid;
}

.background-color-FEFAEC {
    background-color: #FEFAEC;
    border-radius: 16px;
    padding: 24px;
}

.background-color-FEFAEC > h4 {
    margin-bottom: 8px;
}

.background-color-FEFAEC + h3 + ul {
    width: 572px;
}

.this-hands-img {
    display: grid;
    grid-template-columns: 281px 386px;
    grid-template-rows: 174px;
    gap: 24px;
}

.this-hands-img + p {
}

.background-color-FFF3EB {
    background-color: #FFF3EB;
    border-radius: 16px;
    padding: 24px;
}

.main-two-columns {
    display: grid;
    grid-template-columns: repeat(2, 333px);
    grid-template-rows: 451px;
    gap: 24px;
}

.background-color-03B2A5 {
    background-color: rgba(3, 178, 165, 0.1);
    border-radius: 16px;
    padding: 24px;
}

.background-color-03B2A5 > h4 {
    margin-bottom: 8px;
}

.background-color-03B2A5 + nav {
    display: flex;
    flex-direction: row;
    color: rgba(41, 99, 163, 1);
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.background-color-03B2A5 + nav > a {
    margin-right: 8px;
    text-wrap: nowrap;
}

.background-color-03B2A5 + nav > p {
    margin-right: 8px;
}

.main-bottom {
    grid-area: bottom;
    position: relative;
    display: grid;
    grid-template-columns: 349px 520px;
    column-gap: 302px;
    width: 1200px;
    border-top: 1px solid rgba(222, 222, 222, 1);
}

.main-bottom > div > h1 {
    font-family: 'montserrat-bold';
    font-size: 48px;
    line-height: 56px;
}

.standard-button {
    padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;
    background-color: rgba(22, 200, 187, 1);
    border-radius: 4px;
    width: 100%;
    color: rgba(255, 255, 255, 1);
}

.main-bottom > div + img {
    width: 439px;
    height: 397px;
    margin-top: 7px;
    margin-right: 189px;
}

.main-bottom > div + img + img {
    position: absolute;
    right: -120px;
    top: 72px;
}

.background-gradient {
    position: absolute;
    left: -120px;
    bottom: 0px;
    grid-area: gradient;
    background-color: rgba(239, 245, 251, 1);
    width: 1440px;
    height: 82px;
    border-radius: 220% / 5% 40px 0 0;
    /* 220% означает сильное горизонтальное растяжение кривой,
       5% управляет вертикальным растяжением верхней стороны,
       40px применяет закругление только к верхним углам. */
}

aside {
    grid-template-columns: 100%;
}

aside > .background-color-E6F0FD {
    background-color: #E6F0FD;
    border-radius: 16px;
}

.background-color-E6F0FD > img {
    width: 100%;
}

.background-color-E6F0FD > p {
    font-family: 'montserrat-bold';
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.background-color-E6F0FD > p + p {
    font-family: 'montserrat-regular';
    font-size: 14px;
    line-height: 20px;
    margin-top: 8px;
}

aside > .card {
    position: relative;
    border: 1px solid rgba(222, 222, 222, 1);
    border-radius: 16px;
}

.card > div:first-child {
    position: absolute;
    z-index: 0;
    top: 16px;
    left: 16px;
    width: 105px;
}

.card > div:first-child > p {
    z-index: -1;
    background-color: rgba(243, 244, 248, 0.7);
    margin-bottom: 8px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    padding-left: 6px;
    padding-top: 3px;
}

.card > div:first-child > p + p {
    width: 74px;
}

.card > div:first-child + div > img {
    border: 1px solid rgb(46, 191, 128);
    border-radius: 50%;
}

.card > div:first-child + div > p {
    text-align: center;
    font-family: 'montserrat-bold';
    font-size: 20px;
    line-height: 28px;
}

.card > div:first-child + div > p + p {
    font-family: 'montserrat-semibold';
    font-size: 16px;
    line-height: 24px;
}

.card > div:first-child + div + div {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    justify-content: space-between;
    font-family: 'montserrat-medium';
    font-size: 14px;
    color: rgba(162, 167, 177, 1);
    justify-content: center;
}

.card > div:first-child + div + div > p {
    margin-right: 8px;
    margin-bottom: 16px;
}

.border {
    width: 250px;
    height: 1px;
    background-color: rgba(222, 222, 222, 0.7);
    margin-bottom: 16px;
}

.border + div > p {
    font-family: 'montserrat-bold';
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.border + div > ul > li {
    margin-left: 24px;
}

aside > img {
    width: 100%;
    height: 100%;
}

aside > div:last-child {
    position: relative;
    border-radius: 24px;
    border: 0.1px solid rgba(52, 201, 138, 1);ss
    padding: 32px;
}

aside > div:last-child > p:first-child > span {
    color: rgba(41, 99, 163, 1);
    font-family: 'montserrat-bold';
    font-size: 24px;
    line-height: 32px;
    margin-right: 4px;
}

aside > div:last-child > p:first-child {
    color: rgba(41, 99, 163, 1);
    font-family: 'montserrat-bold';
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
}

aside > div:last-child > p:first-child + p {
    font-family: 'montserrat-regular';
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}

aside > div:last-child > p:first-child + p + p {
    font-family: 'montserrat-bold';
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

aside > div:last-child > button {
    height: 48px;
    width: 108px;
}

aside > div:last-child > img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 24px;
}