@font-face {
  font-family: 'montserrat-medium';
  src: url('../fonts/montserrat_medium.ttf');
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('../fonts/montserrat_bold.ttf');
}

@font-face {
  font-family: 'montserrat-regular';
  src: url('../fonts/montserrat.ttf');
}

@font-face {
  font-family: 'montserrat-semibold';
  src: url('../fonts/montserrat_semibold.ttf');
}

@media (width > 320px) and (width < 768px) {
  .image-running {
    background-image: url(../../images/running.png);
  }
}

@media (width < 768px) {
  main > h1 {
    margin-bottom: 24px;
  }
}

@media (width >= 768px) {
  main > h1 {
    margin-bottom: 32px;
  }
}

@media (width > 768px) {
  .image-running {
    background-image: url(../../images/running.png);
  }

  .big-images {
    grid-template-columns: repeat(2, auto);
  }

  .big-images > .flex-container {
    height: 499px;
  }

  .big-images > .flex-container > img {
    height: 260px;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
  }

  .medium-images {
    grid-template-columns: repeat(3, auto);
  }

  footer {
    grid-template-rows: 209px auto;
  }

  .first-row {
    border-bottom: 1px solid rgba(157, 157, 157, 1);
  }

  .first-row > section > div {
    width: 326px;
    height: 52px;
  }

  .footer-logos > div {
    width: 221px;
    height: 50px;
  }

  .footer-logos > div > img:last-child {
    margin-left: 8.16px;
    margin-bottom: 12.02px;
  }

  .second-row {
    margin-top: 16px;
    margin-left: 8px;
  }
}

@media (width <= 1024px) {
  .background-gradient {
    display: none;
  }
}

@media (width > 1024px) {
  body {
    width: 1440px;
    grid-template-rows: 76px 64px 1841px 302px;
  }

  main {
    margin-left: 120px;
    width: 1200px;
  }

  .image-eggs {
    background-image: url(../../images/eggs.png);
  }

  .hashtags {
    width: 1181px;
    height: 32px;
  }

  .medium-images {
    grid-template-rows: repeat(2, 475px);
    width: 1200px;
  }

  .medium-images > .flex-container > img {
    height: 260px;
  }

  footer {
    padding: 40px 120px 17px 120px;
  }

  .first-row {
    grid-template-columns: 204px 197.5px 577.5px 221px;
  }
}

/* iPad Pro 12.9 - 1 */
@media (width <= 1024px) and (width > 768px) {
  body {
    width: 1024px;
    grid-template-rows: 76px 74px 1790px 302px;
  }

  main {
    width: 960px;
    margin-left: 32px;
  }

  .hashtags {
    flex-wrap: wrap;
    width: 934px;
    height: 72px;
  }

  .image-eggs {
    background-image: url(../../images/eggs_1024.png);
  }

  .medium-images {
    grid-template-rows: repeat(2, 458px);
  }

  .medium-images > .flex-container > img {
    height: 206px;
  }

  footer {
    padding: 40px 26px 17px 32px;
  }

  .first-row {
    grid-template-columns: 141px 127px 471px 221px;
  }
}

/*Ipad mini - 2 */
@media (width <= 768px) and (width > 414px) {
  body {
    width: 768px;
    grid-template-rows: 76px 74px 2947px 454px;
  }

  main {
    margin-left: 20px;
    width: 728px;
  }

  .hashtags {
    flex-wrap: wrap;
    height: 72px;
  }

  .image-eggs {
    background-image: url(../../images/eggs_768.png);
  }

  .image-running {
    background-image: url(../../images/running_768.png);
  }

  .big-images {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 599px);
    gap: 24px;
  }

  .big-images > .flex-container > img {
    height: 404px;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
  }

  .medium-images {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 446px);
  }

  .medium-images > .flex-container > img {
    height: 206px;
  }
}

/* IPhone 11 Pro Max - 2 */
@media (width <= 414px) and (width > 320px) {
  body {
    width: 414px;
    grid-template-rows: 72px 66px 2159px 746px;
  }

  main {
    position: relative;
    margin-left: 20px;
    width: 374px;
  }

  .hashtags {
    width: 388px;
    flex-wrap: nowrap;
    height: 32px;
    overflow: hidden;
  }

  .image-eggs {
    background-image: url(../../images/eggs_414.png);
  }

  .big-images {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 466px);
    gap: 16px;
  }

  .big-images > .flex-container > img {
    height: 206px;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
  }

  .medium-images {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 462px);
  }

  .medium-images > .hidden-for-iphone {
    visibility: hidden;
    height: 0px;
  }

  .medium-images > .flex-container > img {
    height: 206px;
  }

  #more-info-button {
    position: absolute;
    left: 96px;
    bottom: 39px;
  }
}

/* Iphone SE - 1 */
@media (width <= 320px) {
  body {
    width: 320px;
    grid-template-rows: 56px 66px 2231px 746px;
  }

  main {
    width: 288px;
    margin-left: 16px;
  }

  .hashtags {
    flex-wrap: nowrap;
    height: 32px;
    overflow: hidden;
  }

  .big-images {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 484px);
    gap: 16px;
  }

  .image-eggs {
    background-image: url(../../images/eggs_320.png);
  }

  .image-running {
      background-image: url(../../images/running_320.png);
  }

  .big-images > .flex-container > img {
    height: 206px;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
  }

  .big-images > div > div > p:last-child {
    margin-bottom: 0px;
  }

  .medium-images {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 484px);
  }

  .medium-images > .hidden-for-iphone {
    visibility: hidden;
    height: 0px;
  }

  .medium-images > .flex-container > img {
    height: 206px;
  }

  #more-info-button {
    position: absolute;
    left: 53px;
    bottom: 23px;
  }
}

body {
  display: grid;
  margin: 0px;
}

main {
  position: relative;
}

a {
  text-decoration: none;
  color: rgba(51, 51, 51, 1);
}

ul {
  list-style-type: none;
}

h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

li + .arrow-down {
  background-image: url(../../logos/arrow_down.svg);
  width: 14px;
  height: 14px;
  margin: 32px 0px 30px 8px;
}

.arrow-down + li {
  margin-left: 30px;
}

li + .frame-pass-through {
  height: 48;
  width: 230;
  background-color: rgba(227, 245, 245, 1);
  margin: 14px 120px 14px 164px;
  border-radius: 4px;
}

.frame-pass-through > div {
  display: inline-block;
  height: 20px;
  width: 190px;
  margin: 14px 20px;
  font-family: 'montserrat-bold';
  color: rgba(3, 178, 165, 1);
  font-size: 16px;
}

.arrow-right {
  background-image: url(../../logos/arrow_right.svg);
  width: 16px;
  height: 16px;
  margin: 0px 8px 0px 4px;
}

main > h1 {
  font-family: 'montserrat-bold';
  font-size: 48px;
  line-height: 56px;
}

.hashtags {
  display: flex;
  list-style-type: none;
  text-wrap: nowrap;
  row-gap: 8px;
}

.hashtags > li {
  border: solid 1px rgba(193, 197, 205, 1);
  border-radius: 24px;
  margin-right: 8px;
  padding: 6px 8px;
  font-family: 'montserrat-semibold';
  font-size: 14px;
  line-height: 20px;
}

ul > .this-smiling-face {
  display: inline-block;
  padding: 0px;
}

.this-smiling-face > a {
  display: flex;
  align-items: center;
  width: 68px;
}

.this-smiling-face > a > img {
  width: 20px;
  height: 20px;
  margin: 6px 5px 6px 8px;
}

ul > .this-unicorn {
  border: solid 2px rgba(22, 200, 187, 1);
  height: 28px;
  display: inline-block;
  padding: 0px;
}

.this-unicorn > a {
  width: 67px;
  display: flex;
  align-items: center;
}

.this-unicorn > a > img {
  width: 20px;
  height: 20px;
  margin: 4px 5px 4px 6px;
}

.flex-container > div {
  display: grid;
}

.flex-container > div > p:last-child {
  align-self: end;
}

.big-images {
  display: grid;
  column-gap: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.big-images > div > div > p:first-child {
  font-family: 'montserrat-bold';
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 4px;
}

.big-images > div > div > p:first-child + p {
  margin-bottom: 8px;
}

.big-images > div > div > p:first-child + p, .big-images > div > div > p:last-child {
  font-family: 'montserrat-regular';
  font-size: 12px;
  line-height: 18px;
}

.big-images > div > div > p:first-child + p + p {
  font-family: 'montserrat-regular';
  font-size: 14px;
  line-height: 20px;
}

.flex-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.floating {
  display: flex;
  position: absolute;
  z-index: 1;
  left: 8px;
  top: 8px;
  border: solid 1px rgba(193, 197, 205, 1);
  border-radius: 24px;
  font-family: 'montserrat-semibold';
  font-size: 14px;
  line-height: 20px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 5px 7px 5px 7px;
  background-color: rgba(255, 255, 255, 0.7);
}

.flex-container > p + p {
  left: 8px;
  top: 48px;
}

.flex-container > p > img {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  padding: 1px;
}

.big-images > .flex-container > div {
  border: solid 1px rgba(222, 222, 222, 1);
  border-radius: 0px 0px 16px 16px;
  padding: 15px;
  flex: 1;
  background-color: white;
}

.background-gradient {
  z-index: -1;
  position: absolute;
  width: 1440px;
  height: 672px;
  top: 401px;
  left: -120px;
  background: linear-gradient(rgba(239, 245, 251, 0.6), rgba(255, 255, 255, 0.6));
  border-radius: 220% / 5% 40px 0 0;
  /* 220% означает сильное горизонтальное растяжение кривой,
     5% управляет вертикальным растяжением верхней стороны,
     40px применяет закругление только к верхним углам. */
}

.medium-images {
  display: grid;
  gap: 24px;
}

.medium-images > div > div > p:first-child {
  font-family: 'montserrat-bold';
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 4px;
}

.medium-images > div > div > p:first-child + p {
  margin-bottom: 8px;
}

.medium-images > div > div > p:first-child + p, .medium-images > div > div > p:last-child {
  font-family: 'montserrat-regular';
  font-size: 12px;
  line-height: 18px;
}

.medium-images > div > div > p:first-child + p + p {
  font-family: 'montserrat-regular';
  font-size: 14px;
  line-height: 20px;
}

.medium-images > .flex-container > div {
  border: solid 1px rgba(222, 222, 222, 1);
  border-radius: 0px 0px 16px 16px;
  padding: 14px;
  flex: 1;
}

.medium-images > .flex-container > img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}

#more-info-button {
  background-color: rgba(3, 178, 165, 1);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'montserrat-bold';
  font-size: 16px;
  width: 182px;
  height: 48px;
}